/produto/codigo/CRM/nbproject/private/
/produto/codigo/CRM/build/
/produto/codigo/CRM/dist/
/produto/codigo/CalculatorWsApplication/nbproject/private/
/produto/codigo/CalculatorWsApplication/build/
/produto/codigo/CalculatorWsApplication/dist/